
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.clear-fix {
    clear: both;
}

/*背景图片*/
.bg {
    width: 100%;
    height: 100%;
    filter: blur(25px);
    overflow: hidden;
    background: url("../img/4.jpg") no-repeat left center;
    background-size: cover;
    position: relative;
}

/*背景图片上的遮罩层*/
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

/*logo部分*/
.box {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.box .logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

ul {
    list-style: none;
}

/*.border1 span {*/
/*width: 20px;*/
/*height: 20px;*/
/*display: inline-block;*/
/*}*/
/*左侧的盒子*/
.box .leftbox {
    /*background-color: rgba(172,31,23,0.54);*/
    float: left;
    width: 60%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    /*overflow: auto;*/
}

/*上部分的盒子*/
.border1 {
    /*background-color: #2F70C9;*/
    width: 635px;
    height: 40px;
    margin-top: 60px;
    margin-left: 80px;
}

/*边框的盒子中的li*/
.border1 li {
    width: 120px;
    height: 35px;
    line-height: 35px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #ccc;

}

/*li里面的背景精灵图*/
.border1 li span {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    background: url("../img/icon_sprite.png") no-repeat 0 0;
}

/*收藏*/
.border1 li:nth-of-type(1) span {
    background-position: -57px 0;
}

/*添加*/
.border1 li:nth-of-type(2) span {
    background-position: -16px 0;
}

/*下载*/
.border1 li:nth-of-type(3) span {
    background-position: -38px -219px;
}

/*删除*/
.border1 li:nth-of-type(4) span {
    background-position: -98px 0;
}

/*清空列表*/
.border1 li:last-of-type span {
    background-position: -38px -297px;
}

/*歌曲列表的头部*/
.title {
    margin-top: 5px;
    float: left;
    height: 80%;
    margin-left: 80px;
    width: 90%;
    /*position: relative;*/
    /*overflow: hidden;*/
}

/*列表前面的小盒子边框*/
.title .square {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: #fff;
    opacity: 0.2;
    display: inline-block;
    border: 1px solid #ccc;
}

.title span {
    width: 100px;
    height: 35px;
    line-height: 35px;
    /*float: left;*/
    display: inline-block;
    margin-right: 20px;
}

.title .fb {
    width: 200px;
}

/*超出部分隐藏*/
.listsong {
    /*height: 470px;*/
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    /*background-color: rgba(253, 39, 255, 0.54);*/

}

.wrap {
    /*float: left;*/
    height: 80%;
    width: 90%;
    position: relative;
    overflow: hidden;
    /*background-color: #2BAFA4;*/

}

/*//滚动条的底部*/
#sliderWrap {
    width: 12px;
    height: 100%;
    margin-right: 0;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    /*background-color: rgba(255,20,39,0.54);*/
}

/*滚动条*/
#slider {
    width: 100%;
    height: 15%;
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top:10px;
    left: 0;
}

.listsong li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .35);
}

/*i的精灵图*/
.title li .fb i {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 10px;
    display: inline-block;
    visibility: hidden;
    /*background: url("../img/icon_list_menu.png") no-repeat 0px 0;*/
}

.title li .fb i:nth-of-type(2), .title li .fb i:nth-of-type(3) {
    background: url("../img/icon_list_menu.png") no-repeat 0px 0;

}

.title li .fb .playlist div {
    width: 40px;
    height: 40px;
    background: url("../img/icon_list_menu.png") no-repeat 0px 0;;

}

.title li .fb .playlist .playBtn {
    display: none;
    background-position: -120px -200px;

}

.title li .fb .playlist .stopBtn {
    /*display: none;*/
    background-position: 0 0;
}

/*分享*/
.title li .fb i:nth-of-type(2) {
    background-position-y: -40px;
}

/*添加*/
.title li .fb i:nth-of-type(3) {
    background-position-y: -80px;
}

/*当span 被hover的时候就让他显示，并且图片改变*/
.title li .fb:hover i {
    visibility: visible;
}

.title li .fb:hover i:hover:nth-of-type(1) {
    background-position: -120px 0;

}

.title li .fb:hover i:hover:nth-of-type(2) {
    background-position: -120px -40px;

}

.title li .fb:hover i:hover:nth-of-type(3) {
    background-position: -120px -80px;

}

/*右侧的盒子*/
.rightbox {
    width: 40%;
    height: 80%;

    position: absolute;
    top: 0;
    right: 0;

}

/*图片*/
.rightbox img {
    margin-left:60px;
    margin-top: 50px;
}

/*字体*/
.rightbox p {
    width: 300px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

/*下面的控制部分*/
.console {
    width: 100%;
    height: 20%;
    /*background-color: rgba(49,46,172,0.54);*/
    position: absolute;
    bottom: 0;
    left: 0;
}

/*按钮部分*/
.console .btn {
    width: 200px;
    height: 60px;
    float: left;
    line-height: 60px;
    margin: 20px 10px 0 100px;
}

/*三个控制按钮*/
.console .btn span {
    width: 35px;
    height: 38px;
    margin-left: 20px;
    display: inline-block;
}

/*向上的按钮*/
.console .btn .prev {
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat 0 -60px;
}

/*向下的按钮*/
.console .btn .next {
    margin-top: -5px;
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat 0 -106px;
}

/*控制播放、暂停的按钮*/
.console .btn .play {
    width: 43px;
    height: 58px;
}

.console .btn .play div {
    margin-top: 12px;
    width: 43px;
    height: 58px;
}

/*开始播放的按钮*/
.console .btn .play .start {
    transform: scale(0.6);
    background: url("../img/player@2x.png") no-repeat 0 0px;
}

/*暂停的按钮，默认不显示*/
.console .btn .play .stop {
    display: none;
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat -60px 0;
}

/*中间的控制 条部分*/
.zhongjia {
    /*background-color: rgba(255,233,119,0.54);*/
    width: 40%;
    height: 60px;
    margin-top: 40px;
    float: left;
}

/*上面的一部分*/
.zhongjia .up {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}

/*上部分 span的样式*/
.zhongjia .up span {
    width: 100px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

/*让上面的左一部分向左float*/
.zhongjia .up .up-left {
    float: left;
}

/*让上面的右边一部分向右float*/
.zhongjia .up .up-right {
    margin-left: 50px;
    float: right;
}

.zhongjia .up .up-right span {
    width: 50px;
}

/*下面的一部分*/
.zhongjia .down {
    position: relative;
}

/*下面的进度条部分最下面的控制条*/
.zhongjia .down .zongchangdu {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

/*跟随进度条部分走的小圆点*/
.zhongjia .down .circle {
    width: 12px;
    height: 12px;
    /*margin-top: -5px;*/
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -6px;
    left: 0;
}

/*进度条走的部分*/
.zhongjia .down .hou {
    width: 0;
    height: 2px;
    margin-top: -3px;
    /*background-color: rgba(255,26,52,0.7);*/
    background-color: rgba(255, 255, 255, 0.8);
}

/*播放模式*/
.con-right {
    width: 20%;
    height: 60px;
    margin-top: 50px;
    float: left;
}

/*播放列表*/
.con-right .playorder {
    width: 70px;
    height: 48px;
    float: left;
}

.con-right .playorder .model {
    width: 70px;
    height: 48px;
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat 0 -514px;
    /*background: rgba(255,233,119,0.54);*/
}

/*列表*/
.con-right .playorder .model:nth-of-type(1) {
    background-position-y: -514px;
}

/*随机*/
.con-right .playorder .model:nth-of-type(2) {
    display: none;
    background-position-y: -144px;
}

/*单曲*/
.con-right .playorder .model:nth-of-type(3) {
    display: none;
    background-position-y: -465px;
}

/*顺序*/
.con-right .playorder .model:nth-of-type(4) {
    display: none;
    background-position-y: -407px;
}

/*没有显示，提示文字*/
.tip {
    width: 70px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: -70px;
    float: left;
    /*background-color: #fff;*/
    /*display: none;*/
    visibility: hidden;
    line-height: 25px;
}

.console .con-right .playorder:hover .tip {
    /*background-color: #fff;*/
    visibility: visible;
}

/*循环列表*/
.orderList {
    width: 140px;
    height: 160px;
    margin-top: -160px;
    font-size: 18px;
    display: none;
}

.active {
    display: none;
}

/*列表循环的li*/
.orderList li {
    visibility: inherit;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(255, 245, 253, 0.54);
    background-color: rgba(0, 0, 0, .5);
}

/*li 的最前面插入伪元素的 是为了插入图片*/
.orderList li::before {
    content: '';
    width: 58px;
    height: 40px;
    display: inline-block;
    transform: scale(0.7);
    line-height: 40px;
    vertical-align: middle;
    background: url("../img/player@2x.png") no-repeat 0 -522px;
}

/*在第二个li插入图片 ，应该选择第几个元素，再写伪元素*/
.orderList li:nth-of-type(2)::before {
    /*background-position-y: -465px;*/
    background-position-y: -149px;
}

/*在第三个li插入图片*/
.orderList li:nth-of-type(3)::before {
    /*background-position-y: -522px;*/
    background-position-y: -465px;
}

/*在第四个li插入图片*/
.orderList li:nth-of-type(4)::before {
    background-position-y: -415px;
}

.orderList li:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*我喜欢即是收藏*/
.loveSong {
    width: 60px;
    height: 48px;
    float: left;
    margin-left: -20px;


}
.loveSong div{
    width: 60px;
    height: 48px;
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat 0 -190px;
}
.loveSong .love{

    background-position: 0 -190px;
}
.loveSong .red{
    display: none;
    background-position:  -60px -190px;
}
/*音量部分*/
.sound{
    width: 180px;
    height: 48px;
    margin-left: 100px;

}
.voice{
    width: 60px;
    height: 48px;
    /*transform: scale(0.7);*/
    /*background: url("../img/player@2x.png") no-repeat 0 -285px;*/
}
.voice div{
    width: 60px;
    height: 48px;
    transform: scale(0.7);
    background: url("../img/player@2x.png") no-repeat 0 -285px;
}
.voice .voice1{

    background-position:  0 -285px;
}
.voice  .voice2{
    display: none;
    background-position:0 -360px ;
}
.voiceSound{
    width: 130px;
    height: 2px;
    margin-left:60px;
    margin-top: -20px;
    position: relative;
    /*background-color: red;*/
    background-color: rgba(255, 255, 255, 0.4);
}
.sound .voiceCircle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 60px;
    /*background-color: red;*/
    background-color: rgba(255,255,255,0.7);
}
.sound .voiceLine{
    width:65px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.7);

}